<!-- ======= Header/ Navbar ======= -->
<header class="bg-header" style="background-image: url(<%=asset_path('intro-bg.jpg')%>);">
    <div class="container-md">
        
        <nav class="navbar">
            <a class="navbar-brand js-scroll" href="#page-top">DevFolio</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span></span>
          <span></span>
          <span></span>
        </button>
            <ul class="navbar-nav navbar-expand-md justify-content-end">
                <li class="nav-item px-2">
                  <a class="nav-link js-scroll active" href="index.html">Home</a>
                </li>
                <li class="nav-item px-2">
                  <a class="nav-link js-scroll" href="#about">About</a>
                </li>
                <li class="nav-item px-2">
                  <a class="nav-link js-scroll" href="#service">Services</a>
                </li>
                <li class="nav-item px-2">
                  <a class="nav-link js-scroll" href="#work">Work</a>
                </li>
                <li class="nav-item px-2">
                  <a class="nav-link js-scroll" href="#blog">Blog</a>
                </li>
                <li class="nav-item px-2">
                  <a class="nav-link js-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </nav>

        <div class="header-content">
            <h1 class="text-header my-5 text-white text-weight-bolder text-center mt-4">
                Hello! I am Keli
            </h1>
            <h2 data-text="I am a full Stack developer" class="intro-subtitle">I am a full Stack developer</h2>
        </div>
    </div>
</header>