<!-- ======= Header/ Navbar ======= -->
<header class="bg-header" style="background-image: url(<%=asset_path('intro-bg.jpg')%>);">
    <div class="container-md">
      
            <ul class="navbar-nav justify-content-center navbar-expand-md">
                <li class="nav-item px-2">
                  <a class="nav-link text-white font-weight-bolder  text-whitejs-scroll active" href="#home">Home</a>
                </li>
                <li class="nav-item px-2">
                  <a class="nav-link text-white  font-weight-bolder js-scroll" href="#about">About</a>
                </li>
                <li class="nav-item px-2">
                  <a class="nav-link text-white  font-weight-bolder js-scroll" href="#service">Services</a>
                </li>
                <li class="nav-item px-2">
                  <a class="nav-link text-white  font-weight-bolder js-scroll" href="#work">Work</a>
                </li>
                <li class="nav-item px-2">
                  <a class="nav-link text-white font-weight-bolder  js-scroll" href="#blog">Blog</a>
                </li>
                <li class="nav-item px-2">
                  <a class="nav-link text-white font-weight-bolder  js-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </nav>

        <div class="header-content font-weight-bolder text-white">
          <h1 class="font-weight-bolder display-4">I am Keli, a 
            <span class="text-danger txt-type" data-wait="1000" data-words='["Front-End Developer", "Back-End Developer", "Full-Stack Developer"]'></span>
          </h1>
          <div class="mx-auto w-100 text-center mt-4"> <a href="#services" class="btn px-5 mt-4 text-center btn-danger">Services</a></div>
        </div>
       

        <div class="container">
          
        </div>
    </div>
</header>