<div class="container-md">
<div class="col-md-10 mx-auto my-5">


<h5 class="title-left my-5 text-center font-weight-bolder">Edit Message</h5>

<%= render 'form', letter: @letter %>
<div class="my-5">
<%= link_to 'Show', @letter, class: "custom-btn custom-btn-text" %> |
<%= link_to 'Back', letters_path, class: "custom-btn custom-btn-text" %>
</div>
</div>
</div>