<div class="container-md">
<div class="col-md-6 mx-auto py-5 bg-white justify-content-center">
<h5 class="title-left my-5 text-center font-weight-bolder">Send me a quick message.</h5>

<%= render 'form', letter: @letter %>

<%= link_to 'Back', letters_path, class: "custom-btn" %>
</div>
</div>