/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

 @import 'bootstrap';
 @import './welcome';
@import url('<link href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Oswald:wght@200;300;500;700&family=Roboto+Slab:wght@100;400;900&display=swap" rel="stylesheet"> ');


a{
    font-family: 'Roboto Slab', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto Slab', sans-serif;
}

 .bg{
     &-header{
        min-height: 100vh;
     }
 }
 .nav-link{
     text-transform: uppercase;
 }
 .text{
     &-header{
         font-weight: 900;
     }
 }
 .bg-header {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
 .txt-type > .txt {
    border-right: 0.2rem solid #777;
  }
  

  .waiting {
	position: fixed;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -40%);
	transition: .3s all;
}

.header-content {
	position: absolute;
	top: 50%;
    left: 50%; 
    font-weight: bolder;
	transform: translate(-50%, -50%);
}

h2.intro-subtitle{
    position: absolute;
    top: 50%;
    left: 50%;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    letter-spacing: 5px;
    margin: 0;
    padding: 0;
    font-weight: bolder;
    color: transparent;
}

h2.intro-subtitle:before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    overflow: hidden;
    font-weight: bolder;
    border-right: 1px solid #fff;
    white-space: nowrap;
    animation: type 10s linear infinite;
}

@keyframes type {
    0%{
        width: 0;
    }
    50%{
        width: 100%;
    }

    100%{
        width: 0;
    }
}


/*------/ Ul resect /------*/
.ul-resect, .socials ul, .list-ico, .blog-wrapper .post-meta ul, .box-comments .list-comments, .widget-sidebar .list-sidebar, .widget-tags ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }
  
  .list-ico {
    line-height: 2;
  }
  
  .list-ico span {
    color: #0078ff;
    margin-right: 10px;
  }
  
  /*------/ Ico Circle /------*/
  .ico-circle {
    height: 100px;
    width: 100px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 10px #0078ff;
    display: block;
  }
