<!-- ======= Footer ======= -->
<footer class="bg-dark">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="copyright-box">
          <p class="copyright float-left">&copy; Copyright <strong>Kekeli Dogbevi Jiresse</strong>. All Rights Reserved</p>
          <p class="">Design Inspirations by <span class="text-danger">BootstrapMade</span></p>
          <a href="#page-top" class="floatup float-right text-white"><i class="fa fa-chevron-up"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer><!-- End  Footer -->