<!-- ======= Header/ Navbar ======= -->
<nav  class="navbar shadow-sm fixed-top font-weight-bolder justify-content-center  bg-dark">
  <ul class="navbar-nav navbar-expand navbar-light">
    <li class="nav-item p-2"><a href="#home" class="nav-link border-me active text-white">Home</a></li>
    <li class="nav-item p-2"><a href="#about" class="nav-link border-me text-white">About</a></li>
    <li class="nav-item p-2"><a href="#work" class="nav-link border-me text-white">Work</a></li>
    <li class="nav-item p-2"><a href="#message" class="nav-link border-me text-white">Message</a></li>
  </ul>
</nav>
<header id="home" class="bg-header" >
  <div style="background-image: url(<%=asset_path('intro-bg.jpg')%>);" class="overlay-header"></div>
    <div class="container-md">
      

        <div class="header-content font-weight-bolder text-white">
          <h1 class="font-weight-bolder animated-h1 text-center display-4">I am Keli, a 
            <span class="text-danger txt-type" data-wait="1000" data-words='["Front-End Developer", "Back-End Developer", "Full-Stack Developer"]'></span>
          </h1>


          <div class="mx-auto w-100 text-center mt-4"> <a href="#work" class="custom-btn mt-5">Services</a></div>
        </div>
       

        <div class="container">
          
        </div>
    </div>
</header>
