<!-- ======= Header/ Navbar ======= -->
<nav  class="navbar shadow-sm fixed-top font-weight-bolder justify-content-center  bg-dark">
  <ul class="navbar-nav navbar-expand navbar-light">
  
    <li class="nav-item p-2">
      <%= link_to "Home", root_path, class: "nav-link border-me active text-white"%>
    </li>
    <li class="nav-item p-2"><a href="#about" class="nav-link border-me text-white">About</a></li>
    <li class="nav-item p-2"><a href="#work" class="nav-link border-me text-white">Work</a></li>
    <li class="nav-item p-2"><a href="#message" class="nav-link border-me text-white">Message</a></li>
  </ul>
</nav>
<header id="home" class="bg-header" >
  <div style="background-image: url(https://zelda-fan-page.s3.amazonaws.com/keli_portfolio/images/bg-intro-2.jpg);" class="overlay-header"></div>
    <div class="container-md">
      

        <div class="header-content font-weight-bolder text-white">
          <h1 class="font-weight-bolder animated-h1 text-center display-4">I am Keli, a 
            <span class="text-danger txt-type" data-wait="1000" data-words='["Front-End Developer", "Back-End Developer", "Full-Stack Developer"]'></span>
          </h1>


          <div class="mx-auto w-100 text-center mt-4"> <a href="https://docs.google.com/document/d/14u4MbWbrXAdpeOhNjwXezfXajUmMspDXgdSUUsmq5j4/edit?usp=sharing" target="_blank" class="custom-btn mt-5">Read Resume</a></div>
        </div>
      
    </div>
</header>
